extends layout 

block content 
  h1 Delete #{item.name}

  p Do you really want to delete #{item.name}?

  form(method="post")
    .form-group 
      input#itemid.form-control(
        type="hidden"
        value=item._id 
        name="itemid"
      )
    .form-group 
        label(for="password") Secred Admin Password
        input#password.form-control(
          name="password"
          type="text"
          required
          placeholder=(placeholder=(passwordmessage === undefined ? "Insert secret admin password to make changes" : passwordmessage)
        )
    button.btn.btn-primary(type="submit") Delete